<div class="cold-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/radamejr/">Robert</a>. Robert is on a mission to learn Full Stack Wev Development to help facilitate a career change using a more marketable skill.
  </p>
  <br />
  <p>
    He is excited to be able to dive deeper into the world of computers and the internet by becoming a developer.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


  <div class="row">
      <div class="col-12 col-sm-4">
        <%= image_tag 'itsme.jpg', class: 'img-fluid' %>
      </div>

      <div class="col-12 col-sm-7 offset-sm-1">
        <h2 class="text-center">Robert Adame</h2>
        <br />
        <p>
            Robert is well versed in learning and development for adults. He hopes to bring those skills with him on his journey into Full Stack Development.
        </p>
      </div>
  </div>
<br class="clear" />
<br />
<br />
<br />
<br />

</div>
