@font-face {
    font-family: 'sf_cartoonist_handregular';
    src: font_url('sf_cartoonist_hand-webfont.woff2') format('woff2'),
         font_url('sf_cartoonist_hand-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sf_cartoonist_handitalic';
    src: font_url('sf_cartoonist_hand_italic-webfont.woff2') format('woff2'),
         font_url('sf_cartoonist_hand_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}